body {
  background-color: lightgray;
  font-family: "FreeSerif", serif;
}

main {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 25px 25px;
}

h1,
h2 {
  font-family: "FreeSans", sans-serif;
}

h1 {
  text-align: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

table.toc {
  padding: 0;
  margin-right: 40px;
  margin-left: 20px;
  border-collapse: collapse;
}

td {
  padding: 4px 6px 3px;
}

td.chapter-number {
  text-align: end;
  color: #777;
}

td.chapter-title {
  padding-left: 0px;
  width: 100%;
}

td.page-link {
  text-align: end;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

tr.chapter {
  font-family: "Courier New", "FreeMono", monospace;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 3px;
  margin-top: 3px;
}

a {
  /* The default underline in Courier New is weirdly low which makes the list of links hard to look at */
  text-decoration: underline;
  text-underline-offset: 1.5px;
}